
textarea {
    width: 95%;
    height: 60px;
    font-size: 14px;
}
.header-image {
    background-image: url('http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$');
    background-size: cover;
}

.comments{
    color: #00ADA7;
    float: left;
    size: 48;
}
.like{
    color: #00ADA7;
    float: left;
    size: 48;
}

#closeBtn {
    color: #00ADA7;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top:0;
    right:0;
}
