<div class="example-container">
    <div>
      <mat-dialog-actions id="closeBtn">
            <button  mat-icon-button matTooltip="Close"  (click)="onCloseCancel()" name="Cancel" >
                <mat-icon>cancel</mat-icon>
            </button>
      </mat-dialog-actions>
     <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{tweet.owner}}</mat-card-title>
        <mat-card-subtitle>{{ tweet.timestamp | date: 'short'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p class="tweetMessage">
            {{ tweet.message }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-expansion-panel class="expansionpanel2">
        <mat-expansion-panel-header>
          <mat-panel-title>
            New Comment
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
          <textarea class="commenttextarea" matInput placeholder="Write a comment" [(ngModel)]="commentContent"></textarea>
        </mat-form-field>
        <button class='disBtn' disabled mat-raised-button *ngIf="commentContent === ''" (click)="postComment()">
          Comment
        </button>
        <button class='actBtn2' mat-raised-button *ngIf="commentContent !== ''" (click)="postComment()">
          Comment
        </button>
      </mat-expansion-panel>
      <div style="overflow-y: scroll; height:300px;" >
         <app-commentlist [commentlist]='list'></app-commentlist>
      </div>
    <mat-dialog-actions>
        <button mat-raised-button (click)="onCloseCancel()" class="dialogBtnCancel">Cancel</button>
    </mat-dialog-actions>

</div>