 .container{
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(52, 94, 88, 0.7); 
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 60px;

}
h1{
    color: rgb(47, 137, 179);
    margin-top: 100px;
    margin-bottom: 0px;
    text-align: center;
    text-shadow:5px 5px 10px rgb(132, 160, 177);
    border-color: rgba(52, 94, 88);

}
.container img{
    width: 120px;
    height: 129px;
    margin-top: -60px;
    margin-bottom: 15px;
}

input[type="text"],[type="password"],[type="email"]{
    height: 30px;
    width: 300px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    margin-bottom: 15px;
    background-color: #fff;
    padding-left: 10px;    
}

#First_Name, #Last_Name{
  height: 30px;
  width: 145px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-left: 10px;    
}

.form-input::before{    
    position: absolute;
    font-family: "FontAwesome";
    color: #9B59B6;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 5px;
}


a{
    margin-top: 30px;
    color: #fff;
    font-size: 13px;
    font-family: Arial;
}

label{
  color: #fff;
  font-size: 13px;
  font-family: Arial;
  padding-left: 5px;
}

.btn {
  width: 200px;
  height: 35px;
  color:#fff;
  font-size: 18px;
  background-color:rgb(168,224, 186); 
}

.error{
  color:rgb(221, 36, 36);
}

