<md-toolbar color="primary">
  <span>BabyTwitter</span>
  <span class="example-spacer"></span>
  <form class="form">
    <md-form-field class="search">
      <input mdInput placeholder="Search a friend" class="input">
    </md-form-field>
  </form>
  <button class="button" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>account_box</md-icon>
    <span>JasonHo</span>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item><md-icon>account_circle</md-icon>Profile</button>
    <button md-menu-item><md-icon>clear</md-icon>Logout</button>
  </md-menu>
</md-toolbar>
