<mat-toolbar *ngIf="shouldBeShowed" class="navbar">
  <button mat-button routerLink="/home" class="brand">BabyTwitter</button>
  <span class="example-spacer"></span>

  <form class="form" (submit)="onSubmit()">
    <mat-form-field class="search">
      <input name="search" matInput placeholder="Search a friend" class="input" id="input" [(ngModel)]='username'>
    </mat-form-field>
    <button type='submit' [routerLink]="['/user', username]" style="display:none"></button>
  </form>

  <button class="button" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_box</mat-icon>
    <span>{{loginName}}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><mat-icon>account_circle</mat-icon>Profile</button>
    <button mat-menu-item (click)='logout()'><mat-icon>clear</mat-icon>Logout</button>
  </mat-menu>
</mat-toolbar>
