.example-spacer {
    flex: 1 1 auto;
}

.button {
    margin-right: 80px;
}

.form {
    margin-right: 60px;
    font-size: 17px;
    max-width: 170px;
}

.search {
    color: white;
}

.brand {
    margin-left: 50px;
    border: 0;
    font-size: 26px;
}

.navbar{
    color:#00ADA7;
}

.input{
    color:#00ADA7;
}
