<md-toolbar color="primary">
  <span routerLink="/home" class="brand">BabyTwitter</span>
  <span class="example-spacer"></span>

  <form class="form" (submit)="onSubmit()">
    <md-form-field class="search">
      <input name="search" mdInput placeholder="Search a friend" class="input" [(ngModel)]='username'>
    </md-form-field>
    <button type='submit' [routerLink]="['/user', username]" style="display:none"></button>
  </form>

  <button class="button" md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>account_box</md-icon>
    <span>JasonHo</span>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item><md-icon>account_circle</md-icon>Profile</button>
    <button md-menu-item><md-icon>clear</md-icon>Logout</button>
  </md-menu>
</md-toolbar>
