<div class="example-container">
  <h3 md-dialog-title id="dialogHead">Edit Your Profile</h3>
  <mat-form-field>
    <input matInput placeholder="Input Username" value="User Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Input First Name" value="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Input Last Name" value="Last Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Edit Your Email" value="Email">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="" value="Bio"></textarea>
  </mat-form-field>
  <strong>{{data}}</strong>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()"class="dialogBtnConf">Confirm</button>
    <button mat-raised-button (click)="onCloseCancel()" class="dialogBtnCanc">Cancel</button>
  </mat-dialog-actions>
  
  </div>