<h1>Welcome to Twitter Baby!</h1>
  <div class="container" >
      <img src="assets/images/twitterround.png">
      <form (ngSubmit)='login()'>
          <div class="form-input">
            <input type="text" name="username" placeholder="Enter Email/Username" [(ngModel)]='credentials.username'>
          </div>
          <div class="form-input">
            <input type="password" name="password" placeholder="Enter Password" flex layout-align="center center" 
            [(ngModel)]='credentials.password'>
          </div>
          <div class="form-group">
            <button mat-raised-button type="submit" class="btn">Log In</button>
          </div>
          <!-- <input type="submit" name="submit" value="Log In" class="btn-login"> -->
          <a class = "loginlink" href="#"><u>Forgot Your Password?</u></a>
          <br>
          <a class = "loginlink" href="/signup"><u>No account? Please Sign Up!</u></a>
          <div *ngIf="successMessage" class="alert alert-success">{{successMessage}})</div>
          <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
      </form>
  </div>



