<mat-expansion-panel class="expansionpanel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      New Tweet
    </mat-panel-title>
    <mat-panel-description>
      Type To Create a tweet!
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Create A Tweet" [(ngModel)]="content"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" class="submitbtn" (click)="postTweet()">
    Tweet!
  </button>
</mat-expansion-panel>
