
<!-- <app-nav-bar></app-nav-bar> -->
<div class="profileContainer">
  <!-- Banner -->
  <div class="banner">
      <div id="banner_img">
          <div class="image-upload">
              <label for="file-input">
                  <img class='profileheadimg' src="assets/images/grumpycat.jpeg"/>
              </label>
              <input id="file-input" type="file" #fileInput (change)='uploadImg($event)' accept="image/jpg, image/jpeg, image/png" style="display: none;"/>
          </div>
          <!-- <input class="profileheadimg" type="image" (click)='uploadImg()' src="assets/images/grumpycat.jpeg" alt=""/> -->
          <!-- <image-upload url="https://httpbin.org/status/200"></image-upload>
          <img class="profileheadimg" (click)='uploadImg()' src="assets/images/grumpycat.jpeg" value="Head Image"> -->
      </div>  
  </div>
  <div class="banner_menu">
      <div >
          <nav class="nav">
            <ul>
                  <li><a img class="logo" src="assets/images/twitterLogo.png"></a></li> 
                  <li><a href="javascript:myFunction('You clicked!')" (click)=onGetTweets()>Tweets</a></li>
                  <li><a href="" click=getfollowing()>Following</a></li>
                  <li><a href="">Moments</a></li>
            </ul>
          </nav>
      </div>
      <div class="banner_button"> 
          <button id="profileButton" (click)="openEditUserProfileDiag()">Edit Profile</button>
      </div>   
  </div>

  <!-- Left Box -->
  <div class="leftBox">
    <div class="userInfo">
        <div><label>{{userFirstName}} {{userLastName}}</label></div>
        <div><label>Joined Date</label></div>
    </div>
    <div>
        <h3 id=head3>Who to follow</h3>
    </div>
    <div class="cardBox">
        <mat-card  class="tofollow-card">
            <mat-card-header>
              <img class="headpotrait" mat-card-avatar src="assets/images/head1.jpg" >
              <mat-card-title>Peter Goodman</mat-card-title>
              <button class="card_button" mat-raised-button>Follow</button>
            </mat-card-header>
          </mat-card>
          <mat-card  class="tofollow-card">
              <mat-card-header>
                <img class="headpotrait" mat-card-avatar src="assets/images/head2.jpg" >
                <mat-card-title>Diane Xie</mat-card-title>
                <button class="card_button" mat-raised-button>Follow</button>
              </mat-card-header>
            </mat-card>
      </div>

  </div>

  <div class="displayBody">
    <h3>My Info</h3>
    <form>
    <div>
      <label class="profileLabel">User Name: {{userName}}</label>
    </div>
    <div><label class="profileLabel">First Name: {{userFirstName}}</label></div>
    <div><label class="profileLabel">Last Name: {{userLastName}}</label></div>
    <div><label class="profileLabel">Email: {{userEmail}}</label></div>
    <!-- <div><label class="profileLabel">Email:</label></div>
    <div>
      <input type="text" [(ngModel)]='userLastName' name='userLastName'>
    </div> -->
    <div>
      <label class="profileLabel">Bio: </label>
      <p id="BioTextArea">{{userBio}}</p>
    </div>
    </form>
  </div>
  

  <!-- <div class="displayBody">
        <mat-card class="body-card">
                <mat-card-header>
                  <img mat-card-avatar class="body-card-image" src="assets/images/uflogo.jpg">
                  <mat-card-title>UF</mat-card-title>
                  <mat-card-subtitle>University of Florida</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class = "body-card-image" src="assets/images/uflogo.jpg" alt="Photo of Uf">
                <mat-card-content>
                  <p>
                        The University of Florida was originally established in 1853 as the East Florida Seminary, and over the years the school has grown to what it is
                         today with the absorption of other institutions throughout its history. 
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
        </mat-card>
  </div> -->
</div>

