.userInfo {
    position: absolute;
    left: 4%;
    width: 17%;
}

.example-header-image {
    background-size: cover;
}

.header {
    display: flex;
    justify-content: flex-start;
}

.image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 0;
}