.example-card {
    width: 45%;
    margin: 5px auto;
}

.action {
    display: flex;
    justify-content: flex-end;
}

.header-image {
    background-image: url('http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$');
    background-size: cover;
}

.spinner {
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}