.example-card {
    width: 45%;
    margin: 5px auto;
}

.action {
    display: flex;
    justify-content: space-around;
    color: #5f5f5f;
    padding-top: 0;
}

.spinner {
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}

.actionbtn {
    font-size: 10px;
    color: #00ADA7;
}

mat-card:hover{
    background-color:rgba(136, 184, 206, 0.2);
}

.tweetMessage {
    padding-left: 28px;
    font-size: 16px;
}

.image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
}