<md-card *ngFor="let tweet of tweetlist" class="example-card">
  <md-card-header>
    <div md-card-avatar class="header-image"></div>
    <md-card-title>{{ username }}</md-card-title>
    <md-card-subtitle>{{ tweet.timestamp }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{ tweet.content }}
    </p>
  </md-card-content>
  <md-card-actions class="action">
    <button md-raised-button color="accent">LIKE</button>
    <button md-raised-button color="accent">SHARE</button>
  </md-card-actions>
</md-card>