<mat-spinner *ngIf="!tweetlist" class="spinner"></mat-spinner>
<mat-card *ngFor="let tweet of tweetlist" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ tweet.owner }}</mat-card-title>
    <mat-card-subtitle>{{ tweet.timestamp | date: 'short'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="tweetMessage">
      {{ tweet.message }}
    </p>
  </mat-card-content>
  <mat-card-actions class="action">
    <button class="actionbtn" mat-button ><mat-icon>launch</mat-icon> Share</button>
    <button class="actionbtn" matTooltip="Show Comments" (click)="editCommentDialog(tweet)" mat-icon-button >
        <mat-icon>comment</mat-icon>
        Comment
    </button>
    <button class="actionbtn" mat-button><mat-icon>thumb_up</mat-icon> Like</button>
  </mat-card-actions>
    <!-- <app-commentlist [tweet]='tweet'></app-commentlist> -->
</mat-card>