<mat-spinner *ngIf="!tweetlist" class="spinner"></mat-spinner>
<mat-card *ngFor="let tweet of tweetlist" class="example-card">
  <mat-card-header class="header">
    <img class="image" mat-card-sm-image [src] = "url">
    <div class="headText">
      <mat-card-title>{{ tweet.owner }}</mat-card-title>
      <mat-card-subtitle class="timestamp">{{ tweet.timestamp | date: 'short'}}</mat-card-subtitle>
    </div>
    <div class="space"></div>
    <button *ngIf="tweet.owner===username" (click)="deleteTweet(tweet.id)" mat-icon-button class="deletebtn"><mat-icon>close</mat-icon></button>
  </mat-card-header>
  <mat-card-content>
    <p class="tweetMessage">
      {{ tweet.message }}
    </p>
    <div class="retweet" *ngIf="tweet.isretweet">
      <span class="retweetname">
        @{{ tweet.ownerretweet }}:
      </span> 
      {{ tweet.messageretweet }}
    </div>
  </mat-card-content>
  <mat-card-actions class="action">
    <button class="actionbtn" id="share" mat-button (click)="retweetDialog(tweet)" >
      <mat-icon>launch</mat-icon>
       Share
    </button>

    <button class="actionbtn" id="comment" (click)="editCommentDialog(tweet)" mat-button >
        <mat-icon>comment</mat-icon>
        Comment
    </button>
  </mat-card-actions>
    <!-- <app-commentlist [tweet]='tweet'></app-commentlist> -->
</mat-card>